/* =================== VARIÁVEIS =================== */
:root {
    --mainBackground: #eae4c0;
    --secondBackground: #a7b865;
    --thirdBackground: #5a633d;
    --mainLetter: #594423;
    --secondLetter: #eae4c0;
}

/* =================== ESTRUTURA GERAL =================== */
body {
    background-color: var(--mainBackground);
    margin: 0;
    align-content: center;
    overflow-x: hidden;
}

.message-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    position: relative;
    justify-self: center;
}

h1 {
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 3rem;
    color: var(--mainLetter);
    text-align: center;
    margin: 2rem;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    color: var(--mainLetter);
    text-align: center;
    margin: 2rem;
}

a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    color: var(--secondLetter);
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    background-color: var(--thirdBackground);
    align-self: center;
    align-content: center;
    border-radius: 10px;
    margin: 2rem;
    transition: 0.5s;
}

a:hover {
    box-shadow:  0 0 10px var(--thirdBackground), 0 0 60px var(--thirdBackground);
    transform: scale(1.05);
}